/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1740&q=80") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: #fff;
}

/* ====== GLASS CARD ====== */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.register-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 40px 50px;
  max-width: 650px; /* increased width */
  width: 100%;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
  text-align: center;
  animation: fadeIn 0.8s ease;
  color: #fff;
}

/* ====== LOGO ====== */
.logo img {
  width: 70px;
  margin-bottom: 10px;
}

.logo h1 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #f9d342;
}

/* ====== TEXT ====== */
h2 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.5rem;
}

.subtitle {
  color: black ;
  font-weight: 800;
  font-size: 0.9rem;
  margin-bottom: 25px;
}

/* ====== FORM ====== */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.input-group {
  flex: 1;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 5px;
  color: black;
}

.input-group input {
  width: 100%;
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  outline: none;
}

.input-group input:focus {
  border: 2px solid #00c6ff;
}

/* ====== BUTTON ====== */
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: linear-gradient(90deg, #f9d342, #ffcc00);
  color: #0a3d62;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(249, 211, 66, 0.4);
}

/* ====== LINKS ====== */
.links {
  margin-top: 20px;
  font-size: 14px;
  color: #eee;
}

.links a {
  color: #f9d342;
  font-weight: 800;
  text-decoration: none;
  font-weight: 500;
}

.links a:hover {
    font-weight: 900;
  text-decoration: underline;
}

/* ====== FOOTER ====== */
footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 13px;
  color: #dbe3ef;
}

/* ====== ANIMATION ====== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
  .register-card {
    padding: 30px 25px;
  }
  .logo h1 {
    font-size: 1.3rem;
  }
}
