<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Driver Login | TravelMate</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/driverLogin.css' %}">
</head>
<body>

  <div class="container">
    <div class="login-card">
      <div class="logo">
        <img src="{% static 'img/carRent.png' %}" alt="Driver Logo">
        <h1>TravelMate <br><span>Rental Partner</span></h1>
      </div>

      <h2>Welcome Back </h2>
      <p class="subtitle">Login to manage your trips and earnings</p>

      <form action="rentalPartnerHome" class="login-form">
      
        <div class="input-group">
       
          <input type="email" id="email" name="email" placeholder="Email" required>
        </div>

        <div class="input-group">
          <div class="password-box">
            <input type="password" id="password" name="password" placeholder="Password" required>
            <span class="toggle-password" onclick="togglePassword()">👁️</span>
          </div>
        </div>

        <button type="submit" class="btn">Login</button>

        <div class="links">
          <a href="#">Forgot Password?</a>
          <p>New Driver? <a href="rentalPartnerRegister">Register Now</a></p>
        </div>
      </form>
    </div>
  </div>

  <footer>
    <p>© 2025 TravelMate. All Rights Reserved.</p>
  </footer>
{% comment %} 
  <script>
    function togglePassword() {
      const input = document.getElementById('password');
      input.type = input.type === 'password' ? 'text' : 'password';
    }
  </script> {% endcomment %}
</body>
</html>
